@font-face {
  font-family: "DeliriumRegular";
  src: local("Delirium"),
  url("./fonts/Delirium.ttf") format('truetype');
}

@font-face {
  font-family: "FreshmanRegular";
  src: local("Freshman"),
  url("./fonts/Freshman.ttf") format('truetype');
}

#root {
  margin: auto;
  padding: 20px;
  max-width: 1300px;
}

.games {
  overflow: scroll;
}

.game,
.points {
  font-family: "Roboto Condensed", sans-serif;
  text-orientation: mixed;
  writing-mode: vertical-rl;
  font-size: 12px;
  height: 120px;
  text-align: right;
}

.game .team {
  float: none;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 35px;
  max-height: 35px;
}

.winner {
  font-weight: bolder;
  font-style: italic;
}

.results {

}

.loser {
  display: none;
}

.loading {
  height: 500px;
  display: flex;
  justify-content: center;
}

.loading > img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controls,
.MuiPaper-root {
  background-color: rgba(255,255,255,0.7);
}

h1 {
  font-family: "DeliriumRegular", serif;
  text-align: center;
  font-size: 110px;
  margin: 0;
  color: whitesmoke;
}

.firstRun {
  font-family: "DeliriumRegular", serif;
  text-align: center;
  font-size: 80px;
  margin: 0;
  color: whitesmoke;
  padding-top: 50px;
}

.poolPosition {
  text-align: center;
}

.participantName {
  font-size: 12px;
  text-align: left;
}

.totalPoints {
  text-align: center;
}

.winnerParticipant {
  margin-left: 28px;
  color: black;
  font-weight: bolder;
  font-style: italic;
  font-size: 14px;
  font-family: "Roboto Condensed", serif;
}